<%- include('./partials/header.ejs')%>
<%- include('./partials/navbar.ejs')%>
<div class="container">
    <div class="row mt-5">
        <h1>Secret Page</h1>
<hr>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas est, quidem in accusamus tempore dolorum enim nesciunt quaerat rerum facere doloribus, vero aliquam, non vel. Magni voluptas laboriosam fugit dicta!</p>

    </div>
</div>
<%- include('./partials/footer.ejs')%>